:root {
  font-size: 12pt;
  --text-grey: #303030;
  --text-black: #141414;
  --grey: #c6c6c6;
  --dark-grey: #666666;
  --light-grey: #ececec;
  --white: #ffffff;

  --sans-serif: Arial, Helvetica, sans-serif;
  --serif: Georgia, 'Times New Roman', Times, serif;
}

.parent-div {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}

.full-screen-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.debug-ui-container {
  margin: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.debug-print-box {
  position: absolute;
  margin: 3px;
  background: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  display: none;
}

.debug-print-msg {
  margin: 3px;
  font: 16px 'Courier New', monospace;
  font-weight: bold;
  color: black;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.shadow-focus:focus-within {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

#main-ui-container {
  background-color: var(--grey);
  height: auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  column-gap: 5px;
  row-gap: 10px;
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.4);
}

#search-form {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  flex-grow: 1;
  border-radius: 3pt;
  background-color: var(--white);
}

#search-bar-text {
  font-size: 1rem;
  font-family: var(--sans-serif);
  height: 1.3rem;
  flex-grow: 1;
  width: auto;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
  color: var(--text-black)
}

#search-bar-text:active {
  outline: none;
  border: none;
}

#search-bar-text:active {
  outline: none;
  border: none;
}

#search-bar-text:hover {
  outline: none;
  border: none;
}

#search-bar-button {
  height: 1.3rem;
  width: 1.3rem;
  background: no-repeat url(assets/search-button.svg);
  background-attachment: local;
  background-position: center;
  border: none;
  outline: none;
  margin-left: 3px;
  margin-right: 3px;
  color: var(--text-black)
}

#search-bar-button:hover {
  /*background-color: darkgrey;*/
}

#search-bar-button:active {
  /*background-color: blue;*/
}

#search-option-container {
  display: flex;
  align-items: center;
  min-height: 1.5rem;
  margin-left: 3px;
  margin-right: 3px;
}

#search-toggle {
  --toggle-width: 2.5rem;
  --toggle-height: 1.3rem;

  position: relative;
  appearance: none;
  width: var(--toggle-width);
  min-width: var(--toggle-width);
  height: var(--toggle-height);
  border-radius: calc(var(--toggle-height) / 2.0);
  background-color: var(--white);
  margin: 0px 3px;
}

#search-toggle::before {
  content: "";
  position: absolute;
  background-color: var(--dark-grey);
  width: var(--toggle-height);
  height: var(--toggle-height);
  top: 0;
  left: 0;
  border-radius: 100%;
  transform-origin: center;
  transform: scale(0.8);
  transition: left 30ms ease-out;
}

#search-toggle:checked::before {
  left: calc(var(--toggle-width) - var(--toggle-height));
}

#search-toggle-span {
  font-size: 1rem;
  font-family: var(--serif);
  margin-left: 3px;
  margin-right: 3px;
  white-space: nowrap;
  color: var(--text-grey);
}

#language-select-container {
  --height: 1.5rem;

  width: auto;
  height: var(--height);
  position: relative;
  display: flex;
  align-items: center;
  background: var(--white);
  border-radius: 0.5rem;
  margin: 0px;
  margin-left: 6px;
  margin-right: 3px;
}

#language-select-icon {
  position: relative;
  width: 2rem;
  height: var(--height);
  background-color: var(--light-grey);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

#language-select-icon::before {
  width: 1.2rem;
  height: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  content: "";
  background: no-repeat url(assets/language-icon.svg);
  background-attachment: local;
  background-position: center;
  background-size: contain;
  color: var(--text-black);
}

#language-select-label {
  text-align: center;
  line-height: var(--height);
  height: var(--height);
  font-size: 0.9rem;
  font-family: var(--sans-serif);
  margin-left: 3px;
  margin-right: 5px;
}

#language-select {
  position: absolute;
  bottom: -2px;
  width: 100%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0);
  background: transparent;
  outline: none;
  border: none;
}

#language-select>option {
  color: var(--text-black)
}

@media only screen and (max-width: 600px) {
  .parent-div {
    flex-direction: column;
  }
}
